<%-include("includes/header.ejs") %>

<body>
    <h2>This page belongs to @<%= data.name%></h2>
    <button>Follow</button>
    <button>Message</button>
    
    <pre style="font-weight: 900; font-size: larger;">Followers : <%= data.followers %>    Following :  <%= data.following %><pre>
        
        <fieldset>
            <legend>Posts</legend>
            
            <% for (let post of data.posts) { %>
                <img src="<%= post.image %>" alt="some img" />
                <pre>Likes: <%= post.likes %>   Comments: <%= post.comments %></pre>
                <% } %>
            </fieldset>
            
            
            
            
            
            <!-- <ul>
                // code for loop
            </ul> -->
            
            <%- include("includes/footer.ejs") %>
        </body>
        <script src="/app.js"></script>
</html>


